@import "tailwindcss";

@layer components {
  button {
    @apply cursor-pointer;
  }

  .input-field {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-900 focus:border-transparent outline-none transition;
  }

  .main-button {
    @apply w-full bg-green-900 hover:bg-green-800 text-white font-semibold py-2 px-4 rounded-lg transition disabled:opacity-50 disabled:cursor-not-allowed mt-6;
  }
}