@import "tailwindcss";

@layer components {
  button {
    @apply cursor-pointer;
  }

  .input-field {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-900 focus:border-transparent outline-none transition;
  }

}